@page "/about"

<h2>About</h2>
<p>Hey, new page!</p> 

<p>I (Matthew Shan) created this application to learn Blazor 
    during my intership at Meijer. I wanted to make something
    that would be useful, so I created a time calculator for us 
    hourly interns! I was inspired by an IT Intern last year to 
    recreate this app. Enjoy! </p>

<p>Disclaimer: This website isn't throughly tested, so there may
    be harmless bugs here and there. Things won't be perfect either, 
    so apologies if this effects the experience.</p>
