@page "/about"

<h2>About</h2>
Hey, new page! <br/>

I (Matthew Shan) created this application to learn Blazor during my intership at Meijer. I wanted to make something that would be useful, so I created a time calculator for hourly interns! I was inspired by an IT Intern last year to recreate this app. Enjoy! 